<div class="mt-[-50px] mx-[-24px] pt-[50px] px-[24px] vh-100"
    [ngClass]="snack.isDiet ? 'bg-greenLight' : 'bg-redLight'">
    <header class="pb-6 flex justify-center relative items-center">
        <button routerLink="/"><icon-arrow-back class="absolute top-0 left-0" /></button>
        <h1 class="font-bold text-lg">Refeição</h1>
    </header>
    <main class="bg-white mx-[-24px] px-[24px] pt-10 h-full rounded-t-3xl">
        <h1 class="font-bold text-xl mb-2">{{snack.name}}</h1>
        <p class="mb-6"> {{snack.description}} </p>
        <h2 class="text-sm font-bold mb-2"> Data e hora </h2>
        <p class="text-base"> {{formatDate()}} </p>
        <div class="w-40 flex items-center rounded-full px-4 py-2 bg-zinc-200 mt-6">
            <div [ngClass]="snack.isDiet ? 'bg-greenDark' : 'bg-redDark'" class="w-3 h-3 rounded-full mr-2">
            </div>
            <p class="text-sm"> {{snack.isDiet ? 'dentro da dieta' : 'fora da dieta'}} </p>
        </div>
        <div class="absolute bottom-6 w-[352px] flex flex-col gap-2">
            <btn-filled routerLink="/edit-snack/id" label="Editar refeição">
                <icon-edit /> </btn-filled>
            <btn-outline (click)="modalIsOpen = true" label="Excluir refeição"> <icon-delete /> </btn-outline>
        </div>
        <div class="modal" *ngIf="modalIsOpen">
            <div class="overlay absolute top-0 left-0 right-0 bottom-0 bg-black/50 flex justify-center items-center">
                <div class="content w-full mx-6 rounded-lg pt-10 px-6 pb-6 bg-white">
                    <h1 class="font-bold text-lg text-center">Deseja realmente excluir o registro da refeição?</h1>
                    <div class="flex w-full justify-center gap-3 mt-8">
                        <btn-outline (click)="modalIsOpen = false" class="flex-1" label="Cancelar"></btn-outline>
                        <btn-filled class="flex-1" label="Confirmar"></btn-filled>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>